# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Complexity.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\UnityProjects\Complexity\.idea\.idea.Complexity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
